*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: 'Circe Bold';
    color: #ffffff;
}


#canvasBig,
#canvasSmall {
    //width: 600px;
    //height: 600px;
    background: #ffffff;
    border: 2px solid #000000;
}

#canvasSmall {
    //width: 600px;
    //height: 50px;
    //background: #ffffff;
}